<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guider.gps">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--位置权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--读写SD卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AppApplication"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="n">

        <meta-data
            android:name="notch.config"
            android:value="portrait" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--谷歌地图的service-->
        <service
            android:name=".googleMap.FetchAddressIntentService"
            android:exported="false" />
        <service android:name=".service.AppSystemMsgService" />
        <!--google-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBStHSiBBid2JNFNtrvOW-G_gSY_XTtMtw" />
        <!--google推送-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="${applicationId}" />
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.LoginActivity" />
        <activity
            android:name="com.guider.gps.view.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.guider.gps.view.activity.AddNewDeviceActivity" />
        <activity
            android:name="com.guider.gps.view.activity.RingMsgListActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.guider.gps.view.activity.HealthDataListActivity" />
        <activity android:name="com.guider.gps.view.activity.HealthCareMsgDetailActivity" />
        <activity android:name=".view.activity.DoctorAnswerActivity" />
        <activity android:name=".view.activity.SingleLineEditActivity" />
        <activity android:name=".view.activity.PersonInfoActivity" />
        <activity android:name=".view.activity.AddressSelectActivity" />
        <activity android:name=".view.activity.LocationFrequencySetActivity" />
        <activity android:name=".view.activity.HistoryRecordActivity" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.GuideActivity" />
        <activity android:name=".view.activity.SimpleCustomWebActivity" />
        <activity android:name=".view.activity.BindPhoneActivity" />
        <activity android:name=".view.activity.CompleteInfoActivity" />
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/CaptureTheme" />
        <activity android:name=".view.activity.DeviceBindAddMemberActivity" />
        <activity android:name=".view.activity.AlarmSeActivity" />
        <activity android:name=".view.activity.LocationFrequencySetNewActivity" />
        <activity android:name=".view.activity.ElectronicFenceListActivity" />
        <activity android:name=".view.fragment.DoctorListActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <receiver android:name=".receiver.NotificationClickReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
               <action android:name="notification_clicked" />
            </intent-filter>
        </receiver>
    </application>

</manifest>