<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guider.gps">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--位置权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--读写SD卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name=".AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="n">

        <meta-data
            android:name="notch.config"
            android:value="portrait" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--谷歌地图的service-->
        <service
            android:name=".googleMap.FetchAddressIntentService"
            android:exported="false" />
        <!--google-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBStHSiBBid2JNFNtrvOW-G_gSY_XTtMtw" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:theme="@style/Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.LoginActivity"/>
        <activity android:name="com.guider.gps.view.activity.MainActivity" />
        <activity android:name="com.guider.gps.view.activity.AddNewDeviceActivity" />
        <activity android:name="com.guider.gps.view.activity.RingMsgListActivity" />
        <activity android:name="com.guider.gps.view.activity.HealthDataListActivity" />
        <activity android:name="com.guider.gps.view.activity.HealthCareMsgDetailActivity" />
        <activity android:name=".view.activity.DoctorAnswerActivity" />
        <activity android:name=".view.activity.SingleLineEditActivity" />
        <activity android:name=".view.activity.PersonInfoActivity" />
        <activity android:name=".view.activity.AddressSelectActivity" />
        <activity android:name=".view.activity.LocationFrequencySetActivity" />
        <activity android:name=".view.activity.HistoryRecordActivity" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.GuideActivity" />
        <activity android:name=".view.activity.SimpleCustomWebActivity" />
        <activity android:name=".view.activity.BindPhoneActivity" />
        <activity android:name=".view.activity.CompleteInfoActivity" />
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme"/>
        <activity android:name=".view.activity.DeviceBindAddMemberActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>