<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wuweikang" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--<application>-->
        <!--<activity android:name="cn.wuweikang.ECGTestActivity"-->
            <!--android:process=":ecg.messure"-->
            <!--android:screenOrientation="landscape">-->
        <!--</activity>-->
    <!--</application>-->
</manifest>
