<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guider.libbase">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name=".thirdlogin.BindPhoneV2Activity"
            android:label="@string/title_activity_bind_phone_v2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="cn.sharesdk.line.LineHandlerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>